.container {
    display: grid;
    grid-template-columns: 100px auto 110px;
    grid-template-rows: 50pxauto;
    grid-gap: .5em;
    padding: .5em;
}
.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: royalblue;
}

.container > div:nth-child(1n) {
  background-color: #5facb9;	
}
.container > div:nth-child(1n):hover {
  background-color: #5c6364;	
}

.container > div:nth-child(3n) {
  background-color: #222222;
}
.container > div:nth-child(3n):hover {
  background-color: #1d9283;
}

.container > div:nth-child(2n) {
    background-color: #ffc446;
}
.container > div:nth-child(2n):hover {
  background-color: royalblue;
  color: #ffc446;
}

.baseballpic {
    display: flex;
    height: 120px ;
    width: auto;
    border-radius: 27%;
    box-shadow: .5em .5em .5em rgb(0, 0, 0);
}

.image-container {
  display: grid;
  justify-content: center;
  padding: .5em;
 
}

.baseballpic:hover {
  box-shadow: .5em .5em .5em whitesmoke;
  animation: pulse;
  animation-duration: 1s;
  
}

  
.date {
  font-size: .01em;
  color: black;
}

body {
  background-color: royalblue;
}


.homeName{
  padding-bottom: 1.5em;
  padding-right: .5em;
}

.awayName{
  padding-top: 1.5em;
  padding-left: .5em
}

